<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Shopping cart" />
    <meta name="author" content="https://github.com/EddyEduard" />
    <title>
        Shop Cart - <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/shop.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/shop/products"><img src="../../assets/favicon.png" width="30"
                    class="mb-1" />Shop Cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="/shop/products">Products</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/shop/orders">Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><%= customer.email %></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account/profile">My profile</a></li>
                            <li><a class="dropdown-item" href="/account/billing">Billing</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/auth/logout"><i class="bi-logout me-1"></i>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a href="/shop/cart" class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill"><%= cart.items.length %></span>
                    </a>
                </form>
            </div>
        </div>
    </nav>

    <!-- Header -->

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Welcome to Shop Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View our available products and start shopping.</p>
            </div>
        </div>
    </header>

    <!-- Checkout section -->

    <section class="payment-form px-3 py-5">
        <div class="container">
            <div class="card">
                <div class="products">
                    <h3 class="title">Checkout</h3>
                    <% products.forEach((product, index) => { %>
                    <div class="item">
                        <span
                            class="price">$<%= ((product.price - (product.price * (product.discount / 100))) * cart.items[index].quantity).toFixed(2) %></span>
                        <span class="price text-muted text-decoration-line-through me-3">$<%= product.price %></span>
                        <p class="item-name"><%= product.name %></p>
                        <p class="item-description"><%= product.description.slice(0, 40) %> ... <a
                                href="/shop/products/<%= product.id %>">More</a></p>
                    </div>
                    <% }); %>
                    <div class="total">Total products<span class="price">$<%= totalPrice.toFixed(2) %></span></div>
                    <div class="total">Shipping<span class="price">$<%= shippingPrice.toFixed(2) %></span></div>
                    <div class="total">Total (excluding VAT)<span
                            class="price">$<%= totalPriceExcludingVAT.toFixed(2) %></span></div>
                    <div class="text-secondary">VAT – Romania (19% on $<%= totalPriceExcludingVAT.toFixed(2) %>)
                        <span class="price">$<%= totalVAT.toFixed(2) %></span>
                    </div>
                    <div class="total">Total (including VAT 19%)<span
                            class="price">$<%= totalPriceIncludingVAT.toFixed(2) %></span></div>
                    <br />
                    <hr class="dashed" />
                    <div class="total">Total<span class="price">$<%= totalPriceIncludingVAT.toFixed(2) %></span></div>
                </div>
                <% if(isBillingFilled) { %>
                <div class="card-details">
                    <h3 class="title">Credit Card Details</h3>
                    <div class="row">
                        <% if(customer.metadata.has_payment_method_added) { %>
                        <div class="col-md-12">
                            <div class="payment-method">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-sm-auto">
                                            <div class="card-brand-icon">
                                                <% if(customer.card.brand == "Visa") { %>
                                                <img src="../../assets/img/visa.png" height="45" />
                                                <% } %>
                                                <% if(customer.card.brand == "MasterCard") { %>
                                                <img src="../../assets/img/mastercard.png" height="45" />
                                                <% } %>
                                                <% if(customer.card.brand == "American Express") { %>
                                                <img src="../../assets/img/american-express.png" height="45" />
                                                <% } %>
                                                <% if(customer.card.brand == "Discover") { %>
                                                <img src="../../assets/img/discover.png" height="45" />
                                                <% } %>
                                                <% if(customer.card.brand == "JCB") { %>
                                                <img src="../../assets/img/jcb.png" height="45" />
                                                <% } %>
                                                <% if(customer.card.brand == "Diners Club") { %>
                                                <img src="../../assets/img/diners-club.png" height="45" />
                                                <% } %>
                                                <% if(customer.card.brand == "UnionPay") { %>
                                                <img src="../../assets/img/union-pay.png" height="45" />
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card-number">
                                                <span><%= customer.card.brand %></span> •••• •••• ••••
                                                <span><%= customer.card.last4 %></span>
                                            </div>
                                            <div class="card-expires">
                                                <span>Expires <%= customer.card.exp_month %>
                                                    <%= customer.card.exp_year %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-auto">
                                            <div class="card-edit">
                                                <% if(customer.metadata.has_payment_method_added && !isUpdateCard) { %>
                                                <a href="/shop/checkout?isUpdateCard=true">
                                                    <i class="bi bi-pencil"></i> EDIT
                                                </a>
                                                <% } else { %>
                                                <a href="/shop/checkout" class="text-danger">
                                                    <i class="bi bi-x"></i> CANCEL
                                                </a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if(!customer.metadata.has_payment_method_added || (customer.metadata.has_payment_method_added && isUpdateCard)) { %>
                        <div class="form-group col-md-12">
                            <label for="card-holder">Card Holder</label>
                            <input id="card-holder" type="text" class="form-control" placeholder="Card Holder"
                                aria-label="Card Holder" value="<%= customer.card.name %>">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="card-number">Card Number</label>
                            <div class="form-control" id="card-number"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Expiration Date</label>
                            <div class="form-control" id="card-expiration"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cvc">CVC</label>
                            <div class="form-control" id="card-cvc"></div>
                        </div>
                        <% } %>
                        <div class="col-md-12">
                            <button type="button" id="payment" class="btn btn-warning w-100">
                                <span id="payment-button-text">Payment</span>
                                <div id="payment-button-spinner" class="text-center d-none">
                                    <div class="spinner-border" role="status"></div>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div id="payment-successed" class="alert alert-success mt-4 d-none" role="alert">
                                <h4 class="alert-heading">Payment successfully!</h4>
                                <p>Aww yes, the payment for the selected products was successful. You will receive your
                                    order within 5 working days.</p>
                                <hr>
                                <p class="mb-0">For more information about your order you can send us an e-mail or call
                                    us. Have a nice day!</p>
                                <br />
                                <a id="download-invoice" class="btn btn-secondary"><i class="bi bi-download"></i>
                                    Donwload invoice</a>
                            </div>
                            <div id="payment-failed" class="alert alert-danger mt-4 d-none" role="alert">
                                <h4 class="alert-heading">Payment failed!</h4>
                                <p>Aww no, payment for selected products has failed.</p>
                                <hr>
                                <p class="mb-0">If the problem still persists, you can send us an e-mail or call us.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info mt-0 m-4" role="alert">
                            <h4 class="alert-heading">Opps, you didn't fill in your billing information!</h4>
                            <p>We need this information to be able to create your invoice for the products purchased.
                                Please
                                fill in your billing details and then return to the product payment page.</p>
                            <a href="/account/billing" class="btn btn-warning"><i class="bi-receipt me-1"></i>
                                Go to billing</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Shop Cart <%= new Date().getFullYear() %></p>
        </div>
    </footer>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const hasPaymentMethodAdded = '<%= customer.metadata.has_payment_method_added %>';
        const isUpdateCard = '<%= isUpdateCard ?? false %>';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../js/checkout.js" async></script>
</body>

</html>