<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Shopping cart" />
    <meta name="author" content="https://github.com/EddyEduard" />
    <title>
        Shop Cart - <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/shop.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#"><img src="../../assets/favicon.png" width="30" class="mb-1" />Shop Cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="/shop/products">Products</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/shop/orders">Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><%= customer.email %></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account/profile">My profile</a></li>
                            <li><a class="dropdown-item" href="/account/billing">Billing</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/auth/logout"><i class="bi-logout me-1"></i>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a href="/shop/cart" class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill"><%= cart.items.length %></span>
                    </a>
                </form>
            </div>
        </div>
    </nav>

    <!-- Header -->

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Welcome to Shop Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View our available products and start shopping.</p>
            </div>
        </div>
    </header>

    <!-- Product section -->

    <% if (typePage == "VIEW-PRODUCT") { %>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="<%= product.images[1] %>" alt="..." />
                </div>
                <div class="col-md-6">
                    <% if (product.stock == 0) { %>
                    <div class="badge bg-dark text-white" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <% } %>
                    <h1 class="display-5 fw-bolder"><%= product.name %></h1>
                    <div class="fs-5 mb-5">
                        <% if (product.discount == 0) { %>
                        <b>$<%= product.price %></b>
                        <% } else { %>
                        <span class="text-decoration-line-through">$<%= product.price %></span>
                        <span><b>$<%= (product.price - (product.price * (product.discount / 100))).toFixed(2) %></b></span>
                        <% } %>
                    </div>
                    <p class="lead"><%= product.description %></p>
                    <% if (product.stock > 0) { %>
                    <form action="/shop/products/<%= product.id %>" method="POST">
                        <div class="d-flex">
                            <div class="col-md-3 d-flex">
                                <button type="button" class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <input type="number" value="1" min="0" name="quantity"
                                    class="form-control form-control-sm">
                                <button type="button" class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row justify-content-center">
                <% reviews.forEach(async (review, index) => { %>
                <div class="col-xl-7 col-lg-8 col-md-10 col-12">
                    <div class="card review">
                        <div class="d-flex">
                            <div class="float-left">
                                <img class="profile-pic" src="<%= customers[index].image %>">
                            </div>
                            <div class="d-flex flex-column">
                                <h3 class="mt-2 mb-0"><%= customers[index].first_name %>
                                    <%= customers[index].last_name %></h3>
                                <div class="d-flex float-left">
                                    <span class="text-muted mt-1 p-1"><%= Math.floor(review.rating) %>.0</span>
                                    <div class="d-flex justify-content-center text-warning mt-1 p-1">
                                        <% for (let i = 0; i < review.rating; i++) { %>
                                        <div class="bi-star-fill"></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-auto">
                                <p class="text-muted pt-5 pt-sm-3"><%= review.created_date.toDateString() %></p>
                            </div>
                        </div>
                        <div class="row text-left">
                            <h4 class="blue-text mt-3">"<%= review.title %>"</h4>
                            <p class="content"><%= review.content %></p>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
    <% } %>

    <!-- Products section -->

    <% if (typePage == "VIEW-PRODUCTS") { %>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% products.forEach(product => { %>
                <div class="col mb-5">
                    <div class="card h-100">
                        <% if (product.stock == 0) { %>
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                        </div>
                        <% } %>
                        <img class="card-img-top" src="<%= product.images[0] %>" alt="<%= product.name %>" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    <%= product.name %>
                                </h5>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <% const productReviwes=reviews.find(x=> x["_id"] == product.id); %>
                                    <% if (productReviwes != undefined) { %>
                                    <% for (let i = 0; i < productReviwes.balance; i++) { %>
                                    <div class="bi-star-fill"></div>
                                    <% } %>
                                    <% } %>
                                </div>
                                <% if (product.discount == 0) { %>
                                <b>$<%= product.price %></b>
                                <% } else { %>
                                <span class="text-muted text-decoration-line-through">$<%= product.price %></span>
                                <b>$<%= (product.price - (product.price * (product.discount / 100))).toFixed(2) %></b>
                                <% } %>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="/shop/products/<%= product.id %>">View
                                    details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>

            <!-- Pagination -->

            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage > 1 ? currentPage - 1 : 1 %>"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <% pages.forEach(page=> { %>
                <li class="page-item">
                    <a class="page-link <%= (currentPage == 0 && page == 1) || page == currentPage ? 'active' : '' %>"
                        href="?page=<%= page %>">
                        <%= page %>
                    </a>
                </li>
                <% }); %>
                <li class="page-item">
                    <a class="page-link"
                        href="?page=<%= currentPage < pages.length ? currentPage + 1 : pages[pages.length - 1] %>"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <% } %>

    <!-- Footer -->

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Shop Cart <%= new Date().getFullYear() %></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>